<header>
    <img src="assets/images/logo.png" alt="noteIt Logo" class="logo-img">
    <div *ngIf="isAuthenticated" class="search-bar">
        <input type="text" placeholder="Write here" class="search-input" id="search-input">
        <button class="search-btn">Search</button>
    </div>
    
</header>


<app-login-status></app-login-status>



<!-- Notebook -->
<div class="mainpage">
    <div *ngIf="isAuthenticated" class="notebooks">
        <app-notebook-list></app-notebook-list>
    </div>
    <router-outlet></router-outlet>
</div>


