.welcome-text {
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.welcome-text p {
	font-size: 20px;
	font-weight: bold;
}


.login-btn {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	border-width: 0;
	outline: none;
	cursor: pointer;
	background-color: var(--primary-color-btn);
	color: #e1e1e1;
	transition: 0.15s opacity ease;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.welcome-text .login-btn{
	font-size: 18px;
	padding: 10px 40px;
}


.login-btn:hover {
	opacity: 0.9;
}

.logout-btn {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	border-width: 0;
	outline: none;
	cursor: pointer;
	background-color: var(--primary-color-btn);
	color: #e1e1e1;
	transition: 0.15s opacity ease;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 18px;
	padding: 10px 40px;
    margin-bottom: 15px;
	position: absolute;
	top: 15px;
	right: 25px;
}

.auth-text{
	position: absolute;
	top: 25px;
	right: 200px;
}

.logout-btn:hover {
	opacity: 0.9;
}

