
.login-btn, .logout-btn {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	border-width: 0;
	outline: none;
	cursor: pointer;
	background-color: #04a2b3;
	color: #e1e1e1;
	transition: 0.15s opacity ease;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.logout-btn{
    float: right;
    margin: 20px;
}

.login-btn:hover, .logout-btn:hover {
	opacity: 0.9;
}

.welcome-text {
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.welcome-text p {
	font-size: 20px;
	font-weight: bold;
}

.welcome-text .login-btn, .logout-btn{
	font-size: 18px;
	padding: 10px 40px;
}

.auth-container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.auth-text{
    color: white;
    padding: 10px 15px;
    display: inline-block;
}