@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  /* background-color: rgb(171, 192, 236); */
  background: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  /* padding-top: 3rem; */
  height: 100vh;
  width: 100%;
  /* filter: invert(1) hue-rotate(180deg); */
}

app-root{
  width: 100%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3e90b1;
  position: fixed;
  top: 0;
  width: 100%;
}
  
.menu li {
  float: left;
}
  
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.menu li a:hover:not(.active) {
  background-color: #111;
}
  
.menu .active {
  background-color: #267291;
}

.active-link{
  background-color: #333;
}
/*button{ 
  position: fixed;
  top:60px;
  background-color: #0074D9; 
  color: #f2f2f2; 
  /*float: left;
  padding: 0.5rem 1rem; 
  margin-right: 16px; 
  font-size: 12px; 
  border: none; 
  cursor: pointer; 
}*/

.au-input{
    line-height:25px;
    border:1px solid #e5e5e5;
    font-size:15px;
    color:#666;
    padding:0 17px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:10px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}

.au-btn-submit{
    /* position:relative; */
    right:0;
    min-width:95px;
    color:#fff;
    border:1px solid #205b8d;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:43px;
    background:#205b8d
}

/* .form-header{
    position: fixed; 
    top: 60px;
    right: 0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    padding: 20px;
} */
.form-header{
    position: absolute;
    right: 0;
    padding: 10px;
}

.addnote {
  /* position: fixed; */
  /* top: 60px; */
  right:10px;
  /* float: right; */
  margin-top: 30px;
  margin-left: 15px;
  background-color: #3e90b1;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem; 
  cursor: pointer;
  padding: 20px;
}

.addnotebook {
    /* position: fixed; */
    top: 60px;
    right: 125px;
    background-color: #3e90b1;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    padding: 20px;
}

.add:active {
  transform: scale(0.98);
}

.mainpage {
    display: flex;
    height: 100%;
    width : 100%;
    padding: 25px;
    padding-left: 0;
    padding-top: 0;
}

.notebooks {
    background: #000;
    display : flex;
    flex-direction: column;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    /* margin: 30px 20px; */
    overflow-y: auto;
    width: 350px;
    min-width: 350px;
    height: 100%;
    padding: 20px;
    /* position: sticky;
    top: 70px;
    z-index: -1; */
}   

.notebook a:visited,a:link{
  text-decoration: none;
  color:#e6e6e6;
  /* display: block; */
}

.notebook a:hover{
  background-color: #333;
}

.notebooks ul{
  list-style-type: none;
}


.notebook button{
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
  padding-bottom: 10px;
  padding-top: 10px;
  float: right;
}

.notebook .edit{
  /*height: 5px;
  width: 5px;*/
  color: rgb(0, 255, 0);
}
.notebook .delete{
  /*height: 5px;
  width: 5px;*/
  color: rgb(255, 0, 0);
}

.fa-edit:before {
  color: white;
}

.fa-trash-alt:before {
  color: #205b8d;
}

.fa-book:before {
  color: #e6e6e6;
}

.notes{
  display: flex;
  flex-wrap: wrap;
}

.note {
  background-color: #262626;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);  
  margin: 30px 20px;
  height: 250px;
  width: 300px;
  overflow-y: auto;
  border-radius: 10px;
}

.note .tools {
  background-color: #a0c9da;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  padding: 0.5rem;
}

.note .tools .edit {
  background-color: transparent;
  border: none;
  color: rgb(48, 175, 75);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note .tools .pinned {
  background-color: transparent;
  border: none;
  color: #205b8d;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note .tools .cross {
  background-color: transparent;
  border: none;
  color:#111;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note .tools .delete {
  background-color: transparent;
  border: none;
  color: rgb(228, 28, 28);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note input[type=text]{
  outline: none;
  font-family: inherit;
  font-size: 15px;
  border: none;
  padding-left: 5px;
  font-weight: bold;
}

.note textarea {
  outline: none;
  /* font-family: inherit; */
  font-size: 1rem;
  border: none;
  /* height: 100%; */
  height: auto;
  width: 100%;
  padding-left: 5px;
  background: #262626;
  /* color: white; */
  color: #e6e6e6;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.hidden {
  display: none;
}